<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Gyabo Network ::</title>

<style type="text/css">
* {
	margin: 0px;
	padding: 0px;
}
</style>
</head>

<body style='margin:0px; padding:0px; font-family:calibri; font-size:14px;'>
<div style='width:700px;  margin:auto; background:#79ad29; padding:27px 0px 27px 0px;'>
  <div style='width:590px; border-bottom:none;padding: 15px 26px 16px; margin:auto; background: #fff; border:1px solid #d6d5d6;'>
    <div style='width:239px; height:64px; float:left;'> <img src='file:///C|/xampp/htdocs/ecom-food-new/resources/site/img/demo-store-1401086283.jpg' /> </div>
    <div style='width:190px; float:right; height:64px;'>
      <p style='font-family:calibri; float:right; font-size:16px; font-style:italic; color:#122856;'><a href='javascript:void(0)' style='text-decoration:none; color:#6da218; line-height:64px; height:64px; float:left;' target='_blank'>www.website.com</a></p>
    </div>
    <div style='clear:both'></div>
  </div>
  <div style='width:590px;padding: 15px 26px 16px; margin:auto; background: #fff; border:1px solid #d6d5d6; border-top:0px;'>
    <p style='margin-bottom:15px; font-size:14px;'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout:</p>
    <div class="order-colm row" style="width:540px;padding: 25px;border: 1px solid #eee;box-shadow: 0 0 5px #ccc;margin-bottom: 15px;">
        <h3 class="text-left" style="border-bottom: 1px solid #eee;padding: 0 0 15px;margin-bottom: 15px;color: #212121;    font-weight: 500;
    line-height: 1.1; margin-top:19px; font-size:30px;">Order Summary</h3>
        
        <div style="display: block;border-bottom: 1px solid #eee;width:530px;padding:10px 5px; height:auto; overflow:hidden;">
            <div class="row">
                <span style="font-weight: 600;color: #000;width:225px;float:left; font-size:14px;">Product</span>
                <span style="font-weight: 600;color: #000;width:112px;float:left; font-size:14px; text-align:center;">Cost</span>
                <span style="font-weight: 600;color: #000;width:112px;float:right; font-size:14px;text-align:right;">Total Price</span>
            </div>
        </div>
        
        <div style="width:530px;display:table;height:auto;">
        <div style="display: block;border-bottom: 1px solid #eee;width:530px;padding:10px 5px; height:auto; overflow:hidden;">
            <div class="row">
                <div  style="font-weight: 400;color: #000;width:225px;float:left; font-size:14px;">
                    <span style="overflow: hidden; max-width: 160px; white-space: pre; text-overflow: ellipsis; float: left; display: inline-block; margin-right: 5px; float:left;">Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR</span> x
                    <span class="order_prod_qty">5</span>
                </div>
                <span style="font-weight: 400;color: #000;width:112px;float:left; font-size:14px; text-align:center;"><i class="fa fa-inr" aria-hidden="true"></i> 10.00</span>
                <span style="font-weight: 400;color: #000;width:112px;float:right; font-size:14px; text-align:right;">Rs. 50.00/-</span>
            </div>
        </div>
        
        <div style="display: block;border-bottom: 1px solid #eee;width:530px;padding:10px 5px; height:auto; overflow:hidden;">
            <div class="row">
                <div  style="font-weight: 400;color: #000;width:225px;float:left; font-size:14px;">
                    <span style="overflow: hidden; max-width: 160px; white-space: pre; text-overflow: ellipsis; float: left; display: inline-block; margin-right: 5px; float:left;">Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR</span> x
                    <span class="order_prod_qty">5</span>
                </div>
                <span style="font-weight: 400;color: #000;width:112px;float:left; font-size:14px; text-align:center;"><i class="fa fa-inr" aria-hidden="true"></i> 10.00</span>
                <span style="font-weight: 400;color: #000;width:112px;float:right; font-size:14px; text-align:right;">Rs. 50.00/-</span>
            </div>
        </div>
        
        <div style="display: block;border-bottom: 1px solid #eee;width:530px;padding:10px 5px; height:auto; overflow:hidden;">
            <div class="row">
                <div  style="font-weight: 400;color: #000;width:225px;float:left; font-size:14px;">
                    <span style="overflow: hidden; max-width: 160px; white-space: pre; text-overflow: ellipsis; float: left; display: inline-block; margin-right: 5px; float:left;">Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR</span> x
                    <span class="order_prod_qty">5</span>
                </div>
                <span style="font-weight: 400;color: #000;width:112px;float:left; font-size:14px; text-align:center;"><i class="fa fa-inr" aria-hidden="true"></i> 10.00</span>
                <span style="font-weight: 400;color: #000;width:112px;float:right; font-size:14px; text-align:right;">Rs. 50.00/-</span>
            </div>
        </div>
        
        <div style="display: block;border-bottom: 1px solid #eee;width:530px;padding:10px 5px; height:auto; overflow:hidden;">
            <div class="row">
                <div  style="font-weight: 400;color: #000;width:225px;float:left; font-size:14px;">
                    <span style="overflow: hidden; max-width: 160px; white-space: pre; text-overflow: ellipsis; float: left; display: inline-block; margin-right: 5px; float:left;">Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR Charge HR</span> x
                    <span class="order_prod_qty">5</span>
                </div>
                <span style="font-weight: 400;color: #000;width:112px;float:left; font-size:14px; text-align:center;"><i class="fa fa-inr" aria-hidden="true"></i> 10.00</span>
                <span style="font-weight: 400;color: #000;width:112px;float:right; font-size:14px; text-align:right;">Rs. 50.00/-</span>
            </div>
        </div>
        
        </div>
        
        
		<div style="width:530px;display:table;height:auto;">
            <div style="display: block;border-bottom: 1px solid #eee;width:530px;padding:10px 5px; height:auto; overflow:hidden;">
                <span style="font-weight: 600;color: #000;width:337px;float:left; font-size:14px;">TOTAL</span>
                <span style="font-weight: 600;color: #000;width:112px;float:right; font-size:14px;text-align:right;">Rs. 200.00/-</span>
            </div>
        </div>
        
        <a href="javascript:void(0)" style="width:200px; height:60px; line-height:60px; font-size:20px; margin:15px 0 0; float:right; overflow:hidden; text-align:center;color: white;background-color: #7ebb1e;border-color: #7ebb1e; text-decoration:none;">
        	Confirmation order
        </a>
        <div style="clear:both;"></div>
    </div>
    
  </div>
  <div style='width:590px; background:#fff;color:#222; padding: 26px 26px 16px; margin:auto;  border:1px solid #d6d5d6; border-top:none;  background:#eee;'>
    <p style='color:rgb(51,51,51); font-size:13px; text-align:center;margin-bottom:5px;'> Ecom Food &ensp; &ensp; Email : <a href='javascript:void(0)' style='text-decoration:none; color:rgb(51,51,51);'>emailid@website.com</p>
  </div>
</div>
</body>
</html>
